


<div class="col" id="main">
  <h1>お問い合わせ完了</h1>
  お問い合わせいただきありがとうございました。
  <br>
  <br>お問い合わせを受け付けました。
  <br>
  折り返し、担当者よりご連絡いたしますので、
  <br>恐れ入りますが、しばらくお待ちください。
  <br>
  <br>

  なお48時間以内に返信がない場合、正常に処理が行われていない可能性があります。
  <br>その場合は、お手数ですが再度お問い合わせいただけますよう、よろしくお願いいたします。
</div>
</div>
</div>
<br>
<%= link_to  root_path, class: 'btn btn-primary' do%>
<i class="fas fa-swimmer"></i>
<span>TOPに戻る</span>
<i class="fas fa-swimmer"></i>
<% end %>


<div class="container mt-5">
  <div class="row">
    <div class="col-3 sidebar">
      <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal">
        投稿
      </button>
    </div>
    <div class="col-9 sidebar recipes">
      <%= render 'recipes', recipes: @recipes %>
    </div>
  </div>
</div>
