
<div class="container">
	<div class="row py-3">
		<div class="col-3 order-2" id="sticky-sidebar">
			<div class="sticky-top"><br><br>
				<h3>お問い合わせについて</h3>
				<b>当アプリケーションに対するご意見・ご要望などがございましたら、お気軽にお問い合わせください。
				<br>
				お問い合わせには営業時間内に対応させていただきます。
				営業時間：9:00～17:00(土・日・祝日および夏季・年末年始の休業日を除く)
				<br>
				お問い合わせの内容によりましては、返信できかねる場合もございます。<br>
				お使いのコンピューターの環境によっては文字化けが発生することがあり、その際はお返事にお時間を頂く場合がございます。</b>
				<br>
			</div>
		</div>
		<div class="col" id="main">
			<h1>お問い合わせ</h1>
			<%= render 'form', contact: @contact %>
			<%= link_to '戻る', root_path %>
		</div>
	</div>
</div>