
<div class="container">
	<div class="row py-3">
		<div class="col-3 order-2" id="sticky-sidebar">
			<div class="sticky-top">
				...
			</div>
		</div>



		<div class="col" id="main">
			<h1>お問い合わせ</h1>
			<%= render 'form', contact: @contact %>
			<%= link_to '戻る', root_path %>
		</div>
	</div>
</div>