ログイン




<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <p class="name">
        <input name="name" type="text" class="feedback-input" placeholder="名前またはニックネーム" id="name" />
      </p>
<!-- plsceholder=最初から入れる文字 -->
      <p class="email">
        <input name="email" type="text" class=" feedback-input" id="email" placeholder="メールアドレス" />
      </p>

      <!-- <p class="text">
        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
      </p> -->

      <p class="email">
        <input type="password" type="text" class="validate[required,custom[email]] feedback-input" id="password" placeholder="パスワード" />
      </p>



      <div class="submit">
        <input type="submit" value="ログイン" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
    <% end %>
  </div>
